$icomoon-font-path: "fonts" !default;

$icon-header-search-path1: \e902;
$icon-header-search-path2: \e912;
$icon-arrow-down: \e900;
$icon-arrow-up: \e913;
$icon-header-notification: \e901;
$icon-logo-facebook: \e903;
$icon-logo-googleplus: \e904;
$icon-logo-instagram: \e905;
$icon-logo-linkedin: \e906;
$icon-logo-snapchat-path1: \e907;
$icon-logo-snapchat-path2: \e908;
$icon-logo-twitter: \e909;
$icon-logo-vine: \e90a;
$icon-logo-youtube: \e90b;
$icon-menu-dashboard: \e90c;
$icon-menu-feed: \e90d;
$icon-menu-invite: \e90e;
$icon-menu-logout: \e90f;
$icon-menu-settings: \e910;
$icon-main-logo: \e911;

