<header id="header" class="container-fluid fixed-top">
    <div class="row">
        <div class="main-logo nav-max-width col">
        <span class="icon icon-main-logo"></span>
        </div>
        <div class="col base-header">
        <div class="head-menu-btn">
            <div class="bubble"><span>99</span></div>
            <span class="icon icon-header-notification"></span>
        </div>
        <div class="head-menu-btn">
            <span class="icon icon-header-search"></span>
        </div>
        </div>
    </div>
</header>