<aside id="sidenav" class="nav-max-width col sidebar ">
    <div class="sidebar-sticky">


        <div class="user-info">
        <img src="images/3.jpg" alt="" class="circle user-avatar">
        <div class="">
            <p class="user-name">Abhisek Das <span class="user-caret"></span></p>
            <p class="user-followers">10,968 Followers</p>
        </div>
        </div>
        <nav class="nav flex-column">
        <a href="" class="nav-link align-middle active">
            <span class="icon icon-menu-dashboard"></span>
            <span>
            Dashboard
            </span>
        </a>
        <a href="" class="nav-link align-middle">
            <span class="icon icon-menu-feed"></span>
            <span>
            Social Feed
            </span>
        </a>
        <a href="" class="nav-link align-middle">
            <span class="icon icon-menu-invite"></span>
            <span>
            Invite Friends
            </span>
        </a>
        <a href="" class="nav-link align-middle">
            <span class="icon icon-menu-settings"></span>
            <span>
            Settings
            </span>
        </a>
        <a href="" class="nav-link align-middle">
            <span class="icon icon-menu-logout"></span>
            <span>
            Log out
            </span>
        </a>
        </nav>
        <footer id="footer" class="nav-max-width col fixed-bottom">
            <hr>
            <div class="d-flex justify-content-around flex-row flex-wrap">
            <a href="#" class="footer-link">About</a>
            <a href="#" class="footer-link">Terms</a>
            <a href="#" class="footer-link">Privacy</a>
            <a href="#" class="footer-link">Help</a>
            <a href="#" class="footer-link">Report</a>
            </div>
        </footer>  
    </div>          
</aside>
<div class="nav-max-width col"></div>